:root {
  --heading-font-family: "Playfair Display", serif;
  --primary-font-family: "Poppins", sans-serif;
  --primary-font-color: #272142;
  --button-color: #6c63ff;
}

body {
  font-family: var(--primary-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}

h2 {
  font-family: var(--heading-font-family);
  font-size: 64px;
  font-weight: bold;
  line-height: 70px;
  margin-bottom: 55px;
}

img {
  border-radius: 4px;
}

.project-description {
  font-size: 16px;
  font-weight: normal;
  line-height: 1.7;
  color: var(--primary-font-color);
  opacity: 70%;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  margin: 24px 0 49px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
}

.about-hero {
  padding: 160px 20px;
}

.about-hero h1 {
  font-size: 64px;
  line-height: 85.31px;
}

.about-hero h2 {
  font-size: 18px;
  line-height: 27px;
  font-family: var(--primary-font-color);
}

.about-hero-content {
  margin: 30px;
}

.btn-contact {
  background: var(--button-color);
  border: 1px solid var(--button-color);
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 18px 30px;
}

.btn-project {
  border: 1px solid var(--button-color);
  border-radius: 4px;
  color: var(--button-color);
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
  padding: 18px 30px;
}

@media (max-width: 900px) {
  h1 {
    font-size: 46px;
  }

  h2 {
    font-size: 38px;
    text-align: center;
    margin-bottom: 15px;
  }

  .hero p {
    font-size: 25px;
  }

  .project-description {
    text-align: center;
    line-height: 1.2;

  }
.about-hero{
text-align: center;
padding: 0;
margin-bottom: 10px;
}

.about-hero-content {
  margin: 10px 0;
}

  .description-col {
    margin-left: 0px !important;
  }

  .btn-project {
    display: block;
    margin: 0 auto;
    padding: 10px;
    max-width: 200px;
  }
}
