:root {
  --heading-font-family: "Playfair Display", serif;
  --primary-font-family: "Poppins", sans-serif;
  --primary-font-color: #272142;
}

body {
  font-family: var(--primary-font-family);
}

h1 {
  font-family: var(--heading-font-family);
  font-size: 96px;
  font-weight: bold;
}

.hero {
  background: #f9f7fe;
  text-align: center;
  padding: 160px 20px;
}

.hero h2 {
  font-weight: normal;
  font-size: 24px;
  line-height: 2;
  margin: 24px 0 49px;
}

.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0 auto;
}

.btn-contact {
  background: #6c63ff;
  border-radius: 4px;
  color: white;
  font-size: 18px;
  font-weight: normal;
  line-height: 27px;
  padding: 18px 30px;
}
